[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
requests = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-rest-auth = "*"
django-cors-headers = "*"

[dev-packages]
tox = "*"
ipython = "*"

[requires]
python_version = "3.7"
